/* brand logo background color */
:root {
    --darkestBlue: #011C26;
    --lighterBlue: #314E59;
    --lightestBrown: #d99962;
    --mediumBrown: #BF7B54;
    --darkest-brown: #8C5B3E;
}



.nav-wrapper {

    background-color: var(--darkestBlue);
    position: fixed;
}

.brand-logo {
    font-family: 'Fugaz One', cursive;

}



body {

    background: url('https://images.unsplash.com/photo-1525176856018-d7fce7007c89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-background {
    background-color: var(--lightestBrown);
    color: #1f0d02;
    border: #47250f solid 2px;
    border-radius: 5px 5px;

}

#results-display {
    width: 60em;
    align-items: center;
    display: inline-flex;
    align-items: flex-end;
    margin-left: 15em;
    margin-top: -35em;
}

#form {
    margin-top: 5rem;
    background-color: var(--lighterBlue);
    color: aliceblue;
    border-radius: 5px 5px;
    border: #47250f solid 2px;
    width: 17em;
    height: 24em;
    margin-left: -15em;

}

#sidebar {
    color: white;
    margin-left: 5em;

    background-color: #248EA6;

}

.card-image{
    margin-top: 30px;
    border: solid 3px #47250f ;
}

#motivator {
    margin-left: -15.5em;
    height: 3em;
    width: 17rem;
    border: #47250f solid 2px;
    background-color: var(--lightestBrown);
    color: #f7cdb2;
    font-family: 'Fugaz One', cursive;
}

#mototext {
    margin-left: -15.5em ;
    background-color: var(--lighterBlue);
    width: 17em;
    margin-top: 5px;
    color: #f7cdb2 ;
    font-size: 1em;
    padding: 5px;
    border: #47250f solid 2px;
}



/* spacing and padding with rounded edges on the left */
#appendersContact {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
    border-radius: 25px;

    margin: 0px auto;
    width: 10%;
    height: 40px;
    background-color: #0f283c;
    float: right;
    padding: 10px;
    border: 2px solid #314E59;


}

/* Fox- adding hover effets to links */
/* this is hover glow on contact button */

.appendersContactClass:hover {
    /* shadow glow*/
    box-shadow:
        0 0 60px 30px #e1dcd8,
        /* inner white */
        0 0 100px 60px #7cceee,
        /* middle magenta */
        0 0 140px 90px #0d6c8f;
    /* outer cyan */
    transition-duration: .5s;


}

/* glow on search button */
#advanced-search:hover {
    box-shadow:
        0 0 10px 5px #e1dcd8,
        /* inner white */
        0 0 30px 10px #7cceee,
        /* middle magenta */
        0 0 60px 10px #0d6c8f;
    /* outer cyan */
    transition-duration: .5s;
}