/* brand logo background color */
:root {
    --darkestBlue: #011C26;
    --lighterBlue: #314E59;
    --lightestBrown: #D99962;
    --mediumBrown: #BF7B54;
    --darkest-brown: #8C5B3E;
}



.nav-wrapper{
    background-color: var(--darkest-brown);
}
body{
    background-color: var(--darkestBlue);
}

/* Change card background and design */
.card-background {
        background-color: var(--darkest-brown);
        color: #fae7d6;
}

option {
    color:white
}