/* brand logo background color */
:root {
    --darkestBlue: #011C26;
    --lighterBlue: #314E59;
    --lightestBrown: #D99962;
    --mediumBrown: #BF7B54;
    --darkest-brown: #8C5B3E;
}



.nav-wrapper{
    background-color: #012E40;
}
body{
    background-color: #248EA6;
}




/* spacing and padding with rounded edges on the left */
#appendersContact {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px ;
    border-radius: 25px;

    margin:0px auto;
    width: 10%;
    height:40px;
    background-color:#0f283c;
    float:right;
    padding:10px;
    border:2px solid #314E59;

    
  }
/* Fox- adding hover effets to links */
  /* this is hover glow on contact button */

  .appendersContactClass:hover{
       /* shadow glow*/
    box-shadow:
    0 0 60px 30px #e1dcd8,  /* inner white */
    0 0 100px 60px #7cceee, /* middle magenta */
    0 0 140px 90px #0d6c8f; /* outer cyan */
    transition-duration: .5s;
  

  }
/* glow on search button */
  #advanced-search:hover{
    box-shadow:
    0 0 10px 5px #e1dcd8,  /* inner white */
    0 0 30px 10px #7cceee, /* middle magenta */
    0 0 60px 10px #0d6c8f; /* outer cyan */
    transition-duration: .5s;
  }



 